* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(11, 11, 105);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(37, 37, 136);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    /* margin: 0 20px; */
}

nav ul li a:hover {
    color: rgb(149, 149, 230);
    font-size: 1.1rem;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    align-items: center;
    /* background-color: red; */
}

.firstsection>div {
    width: 40%;
}

.leftsection {
    /* background-color: red; */
    font-size: 2rem;
    /* margin: 80px 0; */

}

.rightsection img {
    width: 60%;
    margin: 10px 0;
}

.purple {
    color: rgb(157, 103, 208);
}

#element {
    color: rgb(157, 103, 208);
}

main hr {
    border: 0;
    background: rgb(37, 37, 136);
    height: 2px;
    margin: 60px 50px;
}

.secondsection {
    /* background-color: red; */
    max-width: 90vw;
    margin: auto;
}

.secondsection h1 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0px;
}

.thirdsection {
    max-width: 90vw;
    margin: auto;
    height: 400px;
    /* background-color: red; */
}

.thirdsection h1 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0px;
}

.thirdsection .box {
    background: white;
    width: 90vw;
    height: 2px;
    margin: 130px 0;
    display: flex;
    /* background-color: red; */
}

.thirdsection .vertical {
    height: 40px;
    width: 1px;
    background-color: white;
    margin: 0 135px;
}

.image1 {
    width: 60px;
    position: relative;
    top: -73px;
    right: 30px;
}

.verticaltile {
    position: relative;
    /* font-size: rem; */
    top: -30px;
    /* right: 60px; */
    width: 150px;
}

.verticaltitleinfo {
    position: relative;
    top: -11px;
    /* right: 55px; */
    font-size: 9px;
    width: 150px;
}

footer {
    background-color: lavender;
    /* height: 200px; */
}

footer h1 {
    text-align: center;
    color: black;
    padding: 15px 100px;
    /* margin: 5px; */
}

.footer {
    display: flex;
    /* padding: 10px 100px; */
    margin: 5px 100px;
    justify-content: space-evenly;
}

.footer-first .add {
    text-align: center;
    color: black;
}

.footer-second .email {
    text-align: center;
    color: black;
}

.footer-third .phn {
    text-align: center;
    color: black;
}

.footer-first .ad1 {
    width: 60px;
    position: relative;
    left: 140px;
}

.footer-second .em1 {
    width: 60px;
    position: relative;
    left: 140px;
}

.footer-third .ph1 {
    width: 60px;
    position: relative;
    left: 140px;
}
.lorem{
    font-size: 10px;
    color: rgb(0, 0, 1);
}
.copyright{
    font-size: 10px;
    color: black;
    text-align: center;
}

/* .footer ul{
    list-style: none;
} * */